/WebApplication1/nbproject/private/
/WebApplication1/build/
/Loginproject3/nbproject/private/
/Loginproject3/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/JspProjects/nbproject/private/
/JspProjects/build/
/loginsample/nbproject/private/
/Jsplogin/nbproject/private/
/Jsplogin/build/
/Jsplogin/dist/
/Login/nbproject/private/
/Login/build/
/JspLogin2/nbproject/private/
/JspLogin2/build/
/login3/nbproject/private/
/login3/build/
/Swastikbank/nbproject/private/
/SwastikWebUday/nbproject/private/
/SwastikWebUday/build/
/Mvcproject/nbproject/private/
/Mvcproject/build/
/MVCtry/build/
/MVCtry/nbproject/private/
/mvc/nbproject/private/
/mvc/build/
/mvc2/nbproject/private/
/mvc2/build/
/Loginmvc/nbproject/private/
/Loginmvc/build/
/sloginmvc/nbproject/private/
/sloginmvc/build/
/Swing2/javaSoft/dist/
/WebApplication3/nbproject/private/
/new project/nbproject/private/
/new project/build/
/collections/nbproject/private/
/collections/build/
/Swastikweb222/nbproject/private/
/Swastikweb222/build/
/loginsample/build/
/MailProject/nbproject/private/
