/WebApplication1/nbproject/private/
/WebApplication1/build/
/Loginproject3/nbproject/private/
/Loginproject3/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/JspProjects/nbproject/private/
/JspProjects/build/
