/WebApplication1/nbproject/private/
/WebApplication1/build/
/Loginproject3/nbproject/private/
/Loginproject3/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/JspProjects/nbproject/private/
/JspProjects/build/
/loginsample/nbproject/private/
/Jsplogin/nbproject/private/
/Jsplogin/build/
/Jsplogin/dist/
/Login/nbproject/private/
/Login/build/
/JspLogin2/nbproject/private/
/JspLogin2/build/
/login3/nbproject/private/
/login3/build/
