<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>TransferServelet</servlet-name>
        <servlet-class>com.transfer.controller.TransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHistory</servlet-name>
        <servlet-class>com.transfer.controller.TransactionHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHistoryServelet</servlet-name>
        <servlet-class>com.transfer.controller.TransactionHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadPDFServlet</servlet-name>
        <servlet-class>com.transfer.controller.DownloadPDFServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServelet</servlet-name>
        <url-pattern>/TransferServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHistory</servlet-name>
        <url-pattern>/TransactionHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHistoryServelet</servlet-name>
        <url-pattern>/TransactionHistoryServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadPDFServlet</servlet-name>
        <url-pattern>/DownloadPDFServlet</url-pattern>
    </servlet-mapping>
</web-app>
