<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Logincontroller</servlet-name>
        <servlet-class>com.employee.controller.Logincontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrationcontroller</servlet-name>
        <servlet-class>com.employee.controller.Registrationcontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logincontroller</servlet-name>
        <url-pattern>/Logincontroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrationcontroller</servlet-name>
        <url-pattern>/Registrationcontroller</url-pattern>
    </servlet-mapping>
</web-app>
