<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>TransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHistoryServlet</servlet-name>
        <servlet-class>TransactionHistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/TransferServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHistoryServlet</servlet-name>
        <url-pattern>/TransactionHistoryServlet</url-pattern>
    </servlet-mapping>
</web-app>
