<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login5</servlet-name>
        <servlet-class>Login5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profilesohan</servlet-name>
        <servlet-class>profilesohan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationPage</servlet-name>
        <servlet-class>RegistrationPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login5</servlet-name>
        <url-pattern>/Login5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profilesohan</servlet-name>
        <url-pattern>/profilesohan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationPage</servlet-name>
        <url-pattern>/RegistrationPage</url-pattern>
    </servlet-mapping>
</web-app>
