<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern1</servlet-name>
        <servlet-class>pattern1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>program2</servlet-name>
        <servlet-class>program2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>program3</servlet-name>
        <servlet-class>program3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>factorial</servlet-name>
        <servlet-class>factorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>program5</servlet-name>
        <servlet-class>program5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calculator</servlet-name>
        <servlet-class>Calculator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Calcmech</servlet-name>
        <servlet-class>Calcmech</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Factorial1</servlet-name>
        <servlet-class>Factorial1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fact</servlet-name>
        <servlet-class>Fact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ifprogram</servlet-name>
        <servlet-class>ifprogram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Power1</servlet-name>
        <servlet-class>Power1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pow</servlet-name>
        <servlet-class>Pow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inputsum</servlet-name>
        <servlet-class>Inputsum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Isum</servlet-name>
        <servlet-class>Isum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarksCheck5</servlet-name>
        <servlet-class>MarksCheck5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mark</servlet-name>
        <servlet-class>Mark</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat1</servlet-name>
        <servlet-class>pat1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pattern2</servlet-name>
        <servlet-class>pattern2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat2</servlet-name>
        <servlet-class>pat2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>patttern3</servlet-name>
        <servlet-class>pattern3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat3</servlet-name>
        <servlet-class>pat3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern4</servlet-name>
        <servlet-class>pattern4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat4</servlet-name>
        <servlet-class>pat4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern5</servlet-name>
        <servlet-class>pattern5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat5</servlet-name>
        <servlet-class>pat5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern6</servlet-name>
        <servlet-class>pattern6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat6</servlet-name>
        <servlet-class>pat6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern7</servlet-name>
        <servlet-class>pattern7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat7</servlet-name>
        <servlet-class>pat7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Votecheck</servlet-name>
        <servlet-class>Votecheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote</servlet-name>
        <servlet-class>Vote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern8</servlet-name>
        <servlet-class>pattern8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat8</servlet-name>
        <servlet-class>pat8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeapYear</servlet-name>
        <servlet-class>LeapYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Leap</servlet-name>
        <servlet-class>Leap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Divisioncheck</servlet-name>
        <servlet-class>Divisioncheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Divi</servlet-name>
        <servlet-class>Divi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EvenOdd</servlet-name>
        <servlet-class>EvenOdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eveno</servlet-name>
        <servlet-class>eveno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DecrementFact</servlet-name>
        <servlet-class>DecrementFact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dfact</servlet-name>
        <servlet-class>Dfact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dfact1</servlet-name>
        <servlet-class>Dfact1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reverse</servlet-name>
        <servlet-class>Reverse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rev</servlet-name>
        <servlet-class>Rev</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>palindrome</servlet-name>
        <servlet-class>palindrome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>palin</servlet-name>
        <servlet-class>palin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllPrograms</servlet-name>
        <servlet-class>AllPrograms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>All</servlet-name>
        <servlet-class>All</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern9</servlet-name>
        <servlet-class>pattern9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat9</servlet-name>
        <servlet-class>pat9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern10</servlet-name>
        <servlet-class>pattern10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat10</servlet-name>
        <servlet-class>pat10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern11</servlet-name>
        <servlet-class>pattern11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat11</servlet-name>
        <servlet-class>pat11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern13</servlet-name>
        <servlet-class>pattern13</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat13</servlet-name>
        <servlet-class>pat13</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check</servlet-name>
        <servlet-class>CheckVowel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vowelconso</servlet-name>
        <servlet-class>Vowelconso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern12</servlet-name>
        <servlet-class>pattern12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat12</servlet-name>
        <servlet-class>pat12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pattern14</servlet-name>
        <servlet-class>pattern14</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pat14</servlet-name>
        <servlet-class>pat14</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckVowel</servlet-name>
        <servlet-class>CheckVowel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkpositive</servlet-name>
        <servlet-class>Checkpositive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkposi</servlet-name>
        <servlet-class>Checkposi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table</servlet-name>
        <servlet-class>Table</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tab</servlet-name>
        <servlet-class>Tab</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Square</servlet-name>
        <servlet-class>Square</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Squa</servlet-name>
        <servlet-class>Squa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gagag</servlet-name>
        <servlet-class>gagag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cube</servlet-name>
        <servlet-class>Cube</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cub</servlet-name>
        <servlet-class>Cub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrimenO</servlet-name>
        <servlet-class>PrimenO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prime</servlet-name>
        <servlet-class>Prime</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Zeroonetriangle</servlet-name>
        <servlet-class>Zeroonetriangle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Zerotriangle</servlet-name>
        <servlet-class>Zerotriangle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeriesAll</servlet-name>
        <servlet-class>SeriesAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Serieslogic</servlet-name>
        <servlet-class>Serieslogic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fibbonacci</servlet-name>
        <servlet-class>fibbonacci</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fibbonacciseries</servlet-name>
        <servlet-class>fibbonacciseries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gaggff2</servlet-name>
        <servlet-class>gaggff2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern1</servlet-name>
        <url-pattern>/pattern1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>program2</servlet-name>
        <url-pattern>/program2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>program3</servlet-name>
        <url-pattern>/program3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>factorial</servlet-name>
        <url-pattern>/factorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>program5</servlet-name>
        <url-pattern>/program5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calculator</servlet-name>
        <url-pattern>/Calculator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Calcmech</servlet-name>
        <url-pattern>/Calcmech</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Factorial1</servlet-name>
        <url-pattern>/Factorial1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fact</servlet-name>
        <url-pattern>/Fact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ifprogram</servlet-name>
        <url-pattern>/ifprogram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Power1</servlet-name>
        <url-pattern>/Power1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pow</servlet-name>
        <url-pattern>/Pow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inputsum</servlet-name>
        <url-pattern>/Inputsum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Isum</servlet-name>
        <url-pattern>/Isum</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarksCheck5</servlet-name>
        <url-pattern>/MarksCheck5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mark</servlet-name>
        <url-pattern>/Mark</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat1</servlet-name>
        <url-pattern>/pat1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pattern2</servlet-name>
        <url-pattern>/Pattern2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat2</servlet-name>
        <url-pattern>/pat2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>patttern3</servlet-name>
        <url-pattern>/patttern3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat3</servlet-name>
        <url-pattern>/pat3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern4</servlet-name>
        <url-pattern>/pattern4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat4</servlet-name>
        <url-pattern>/pat4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern5</servlet-name>
        <url-pattern>/pattern5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat5</servlet-name>
        <url-pattern>/pat5</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern6</servlet-name>
        <url-pattern>/pattern6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat6</servlet-name>
        <url-pattern>/pat6</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern7</servlet-name>
        <url-pattern>/pattern7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat7</servlet-name>
        <url-pattern>/pat7</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Votecheck</servlet-name>
        <url-pattern>/Votecheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote</servlet-name>
        <url-pattern>/Vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern8</servlet-name>
        <url-pattern>/pattern8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat8</servlet-name>
        <url-pattern>/pat8</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeapYear</servlet-name>
        <url-pattern>/LeapYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Leap</servlet-name>
        <url-pattern>/Leap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Divisioncheck</servlet-name>
        <url-pattern>/Divisioncheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Divi</servlet-name>
        <url-pattern>/Divi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EvenOdd</servlet-name>
        <url-pattern>/EvenOdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eveno</servlet-name>
        <url-pattern>/eveno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DecrementFact</servlet-name>
        <url-pattern>/DecrementFact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dfact</servlet-name>
        <url-pattern>/Dfact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dfact1</servlet-name>
        <url-pattern>/Dfact1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reverse</servlet-name>
        <url-pattern>/Reverse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rev</servlet-name>
        <url-pattern>/Rev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>palindrome</servlet-name>
        <url-pattern>/palindrome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>palin</servlet-name>
        <url-pattern>/palin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllPrograms</servlet-name>
        <url-pattern>/AllPrograms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>All</servlet-name>
        <url-pattern>/All</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern9</servlet-name>
        <url-pattern>/pattern9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat9</servlet-name>
        <url-pattern>/pat9</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern10</servlet-name>
        <url-pattern>/pattern10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat10</servlet-name>
        <url-pattern>/pat10</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern11</servlet-name>
        <url-pattern>/pattern11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat11</servlet-name>
        <url-pattern>/pat11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern13</servlet-name>
        <url-pattern>/pattern13</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat13</servlet-name>
        <url-pattern>/pat13</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vowelconso</servlet-name>
        <url-pattern>/Vowelconso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern12</servlet-name>
        <url-pattern>/pattern12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat12</servlet-name>
        <url-pattern>/pat12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pattern14</servlet-name>
        <url-pattern>/pattern14</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pat14</servlet-name>
        <url-pattern>/pat14</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckVowel</servlet-name>
        <url-pattern>/CheckVowel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkpositive</servlet-name>
        <url-pattern>/Checkpositive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkposi</servlet-name>
        <url-pattern>/Checkposi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table</servlet-name>
        <url-pattern>/Table</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tab</servlet-name>
        <url-pattern>/Tab</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Square</servlet-name>
        <url-pattern>/Square</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Squa</servlet-name>
        <url-pattern>/Squa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gagag</servlet-name>
        <url-pattern>/gagag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cube</servlet-name>
        <url-pattern>/Cube</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cub</servlet-name>
        <url-pattern>/Cub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrimenO</servlet-name>
        <url-pattern>/PrimenO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prime</servlet-name>
        <url-pattern>/Prime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Zeroonetriangle</servlet-name>
        <url-pattern>/Zeroonetriangle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Zerotriangle</servlet-name>
        <url-pattern>/Zerotriangle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeriesAll</servlet-name>
        <url-pattern>/SeriesAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Serieslogic</servlet-name>
        <url-pattern>/Serieslogic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fibbonacci</servlet-name>
        <url-pattern>/fibbonacci</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fibbonacciseries</servlet-name>
        <url-pattern>/fibbonacciseries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gaggff2</servlet-name>
        <url-pattern>/gaggff2</url-pattern>
    </servlet-mapping>
</web-app>
