body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
}

.hamburger-menu {
    cursor: pointer;
    order: 3; /* This will place the hamburger menu icon on the right */
    margin-left: auto; /* This aligns the icon to the right */
}

.hamburger-menu > div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;

}

.menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.3s;
    font-weight: bold;
}

.offcanvas {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: 0.3s ease-in-out;
}

.offcanvas-menu {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offcanvas-menu li {
    padding: 15px;
}

.offcanvas-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.close-icon {
    cursor: pointer;
    text-align: right;
    padding: 15px;
    font-size: 24px;
    color: #fff;
    display: none;
}

/* Media query for mobile view */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
        
    }

    .menu {
        display: none;
    }

    .offcanvas {
        right: -250px;
    }

    .offcanvas.active {
        right: 0;
    }
}
